<header id="page-header">
    <a href="/" id="collective-button-header" class="header-button">COLLECTIVE</a>
    <div id="app-menu">
        <a href="/about" id="menu-button-about" class="header-button clickable">ABOUT</a> | 
        <a href="/blog" id="menu-button-blog" class="header-button clickable">BLOG</a> | 
        <a href="/projects" id="menu-button-projects" class="header-button clickable">PROJECTS</a>  | 
        <a href="/contact" id="menu-button-contact" class="header-button clickable">CONTACT ME</a>
    </div>
</header>