<!DOCTYPE HTML>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/css/collective.css"/>
        <title>{% block pageTitle %}Collective - No Page Title{% endblock pageTitle %}</title>
    </head>
    <body>
        {% block pageContent %}This page has no content.{% endblock pageContent %}
    </body>
</html>